<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">

    <!-- 定义一个属性来设置日志模式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} %-5level [%X{traceId}] [%thread] %logger{36} - %msg%n"/>

    <!-- 定义控制台日志输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 配置根日志级别为DEBUG，并引用控制台输出 -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
